@page "/"
@page "/Skoven"
@rendermode InteractiveServer
@using BlazorApp2test.Models
@using BlazorApp2test.Services
@inject ResidentService ResidentService

<h5>Overlap</h5>


<!-- Du klikker på knappen og så henter den alle beboere ved at kalde funktion LoadResidentsAsync i ResidentService.cs-->
<button @onclick="ResidentService.LoadResidentsAsync">
    Hent alle beboere
</button>

<div>
    <label>Afdelings ID: </label>
    <input type="number" @bind="ResidentService.SelectedDepartmentId" />
    <button @onclick="ResidentService.LoadResidentsByDepartmentAsync">
        Hent beboere for afdeling
    </button>
</div>

<h5>Opret ny beboer</h5>

<div>
    <label>Navn </label>
    <input @bind="ResidentService.NewResident.Name" />
</div>

<div>
    <label>Status </label>
    <input @bind="ResidentService.NewResident.Status" />
</div>

<div>
    <label>Risiko </label>
    <select @bind="ResidentService.NewResident.Risiko">
        <option value="@Risiko.Green">Green</option>
        <option value="@Risiko.Yellow">Yellow</option>
        <option value="@Risiko.Red">Red</option>
    </select>
</div>

<button @onclick="ResidentService.CreateResidentAsync">
    Gem beboer
</button>

@if (ResidentService.Residents.Any())
{
    <ul>
        @foreach (var resident in ResidentService.Residents)
        {
            <li style="margin-bottom: 15px;">
                <div>
                    <label>Navn </label>
                    <input @bind="resident.Name" />
                </div>

                <div>
                    <label>Status </label>
                    <input @bind="resident.Status" />
                </div>

                <div>
                    <label>Risiko </label>
                    <select @bind="resident.Risiko">
                        <option value="@Risiko.Green">Green</option>
                        <option value="@Risiko.Yellow">Yellow</option>
                        <option value="@Risiko.Red">Red</option>
                    </select>
                </div>

                <button @onclick='() => ResidentService.SaveResidentAsync(resident)'>
                    Gem ændringer
                </button>

                <button @onclick='() => ResidentService.DeleteResidentAsync(resident)'>
                    Slet beboer
                </button>
            </li>
        }
    </ul>
}