@page "/"
@page "/Skoven"
@rendermode InteractiveServer
@using BlazorApp2test.Models
@using BlazorApp2test.Services
@using BlazorApp2test.Repositories
@inject ResidentService ResidentService
@inject IResidentRepository ResidentRepository
@inject IMedicinRepository medicinRepository

<h5>Overlap</h5>


<!-- Du klikker på knappen og så henter den alle beboere ved at kalde funktion LoadResidentsAsync i ResidentService.cs-->
<button @onclick="ResidentService.LoadResidentsAsync">
    Hent alle beboere
</button>

<h5>Opret ny beboer</h5>

<div>
    <label>Navn </label>
    <input @bind="ResidentService.NewResident.Name" />
</div>

<div>
    <select @bind="selectedTime">
        @foreach (var t in availableTimes)
        {
            <option value="@t">@t.ToString(@"hh\:mm")</option>
        }
    </select>
    <button @onclick="() => medicinRepository.SaveNewMedicinAsync(medicin)">Tilføj medicin tid</button>
</div>

<ul>
    @foreach (var medTime in resident.MedicinTimes)
    {
<li>
            <input type="checkbox" checked="@medTime.IsChecked"
            @onchange="() => ResidentService.ToggleMedicinGivenAsync(medTime)" />
            @medTime.MedicinTime.ToString(@"hh\:mm")
            @if (medTime.MedicinCheckTimeStamp.HasValue)
            {
<span> - Givet: @medTime.MedicinCheckTimeStamp.Value.ToString("HH:mm")</span>
            }
</li>
    }
</ul>

<div>
    <label>Status </label>
    <input @bind="ResidentService.NewResident.Status" />
</div>

<div>
    <label>Risiko </label>
    <select @bind="ResidentService.NewResident.Risiko">
        <option value="@Risiko.Green">Green</option>
        <option value="@Risiko.Yellow">Yellow</option>
        <option value="@Risiko.Red">Red</option>
    </select>
</div>

<button @onclick="ResidentService.CreateResidentAsync">
    Gem beboer
</button>

@if (ResidentService.Residents.Any())
{
    <ul>
        @foreach (var resident in ResidentService.Residents)
        {
            <li style="margin-bottom: 15px;">
                <div>
                    <label>Navn </label>
                    <input @bind="resident.Name" />
                </div>

                <div>
                    <label>Status </label>
                    <input @bind="resident.Status" />
                </div>

                <div>
                    <label>Risiko </label>
                    <select @bind="resident.Risiko">
                        <option value="@Risiko.Green">Green</option>
                        <option value="@Risiko.Yellow">Yellow</option>
                        <option value="@Risiko.Red">Red</option>
                    </select>
                </div>

                <button @onclick='() => ResidentService.SaveResidentAsync(resident)'>
                    Gem ændringer
                </button>

                <button @onclick='() => ResidentService.DeleteResidentAsync(resident)'>
                    Slet beboer
                </button>
            </li>
        }
    </ul>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        ResidentService.SelectedDepartmentId = 2;
        await ResidentService.LoadResidentsByDepartmentAsync();
        
    }

    private TimeSpan selectedTime;

    private List<TimeSpan> availableTimes = new List<TimeSpan>
    {
        new TimeSpan(8, 0, 0),
        new TimeSpan(12, 0, 0),
        new TimeSpan(18, 0, 0)
    };

    Medicin medicin = new Medicin();
    Resident resident = new Resident();
}